<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin sida</title>
</head>
<body>
    <form action="/admin" method="post">
             <input type="text" name="product_name" id="">
             <input type="text" name="price" id="">

             <button type="submit">Add product</button>
    </form>
</body>
</html>